*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 144rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

h2 {
  font-weight: 700;
  font-size: 2.4rem;
}

.container {
  margin: 0 auto;
  width: 92vw;
  max-width: 136rem;
}

.text-style {
  line-height: 1.5;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  background-color: #fff;
  z-index: 10;
}

.navigation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.6rem;
  height: 100%;
  width: 100%;
}

.navigation__container-logo-name {
  font-weight: 400;
}

.navigation__container-list {
  position: absolute;
  top: 8rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0 2rem 1.6rem;
  width: 100%;
  display: none;
  background-color: #fff;
}

.navigation__container-list-link {
  color: #9D9D9D;
}

.navigation__container-hamburger {
  display: block;
  border: transparent;
  background-color: #fff;
  cursor: pointer;
}

.navigation__container .account {
  display: none;
}

.close-icon {
  display: none;
}

.active {
  display: block;
}

.hide {
  display: none;
}

.header__container {
  width: 100%;
  height: 58.3rem;
  background-image: url("../assets/img/lessons.png");
  background-size: cover;
  background-position: center;
}

.header__container-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3.6rem;
}

.section__collection {
  padding-top: 4.3rem;
  width: 100%;
}

.section__collection-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5.2rem;
}

.section__collection-top-btn {
  width: 9.2rem;
  height: 3.2rem;
  font-weight: 700;
  font-size: 1.6rem;
  border-radius: 1rem;
  background-color: #6d888e;
  color: #fff;
  border: transparent;
  cursor: pointer;
}

.section__collection-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.section__collection-bottom-box {
  margin-bottom: 5rem;
}

.section__collection-bottom-box .box-img {
  display: block;
  width: 16.1rem;
  height: 17.2rem;
}

.section__collection-bottom-box .img-responsive {
  display: none;
}

.section__collection-bottom-box p {
  margin-top: 0.7rem;
}

.blue-background {
  background-color: #E1EAE4;
}

.darkblue-background {
  background-color: #6d888e;
}

.subpage .header {
  border-bottom: 1px solid #9D9D9D;
}

.subpage .header__container {
  position: relative;
  height: 16.2rem;
  background-image: url("../assets/img/lessons_about.png");
}

.subpage .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.5rem;
}

.subpage .header__nav span,
.subpage .header__nav a {
  color: #9D9D9D;
}

.subpage .header__nav .slash {
  padding: 0 1rem;
}

.subpage .header__nav-home {
  text-decoration: underline;
}

.subpage .section__collection {
  padding-top: 1.8rem;
}

.section__description {
  padding: 3.9rem 0;
}

.section__description-heading {
  margin-bottom: 2.5rem;
  font-size: 2.4rem;
}

.section__description-wrapper {
  max-width: 62.3rem;
}

.collection__page .navigation__container-logo a {
  color: #fff;
}

.collection__page .section__collection-bottom-box {
  margin-bottom: 5rem;
}

.collection__page .next-box {
  display: none;
}

.collection__item .header__nav {
  height: 4.9rem;
}

.collection__item .header__nav-current {
  text-decoration: underline;
}

.section__item {
  padding: 2.5rem 0;
}

.section__item h2 {
  font-size: 3.6rem;
  margin-bottom: 3rem;
}

.section__item h3 {
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
}

.section__item-img {
  margin-bottom: 4.2rem;
  width: 100%;
}

.section__item-description {
  max-width: 62.2rem;
}

.section__item .item-small {
  display: block;
}

.section__item .item-large {
  display: none;
}

@media screen and (min-width: 375px) {
  .section__collection-bottom {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section__item-img {
    width: 34.3rem;
    height: 36.6rem;
  }
}

@media screen and (min-width: 425px) {
  .section__collection-bottom-box {
    padding: 0 0.5rem;
  }
}

@media screen and (min-width: 1439px) {
  h2 {
    font-size: 4.8rem;
  }
  .text-style {
    font-size: 1.8rem;
  }
  .navigation__container {
    position: relative;
    padding: 0 2.4rem;
  }
  .navigation__container-list {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: auto;
    padding-left: 0;
    left: 30rem;
    width: 42rem;
  }
  .navigation__container-list-link {
    padding-right: 2.5rem;
  }
  .navigation__container-hamburger {
    display: none;
  }
  .navigation__container .account {
    display: block;
  }
  .header__container {
    background-image: url("../assets/img/lessons_large.png");
  }
  .header__container-title {
    font-size: 6rem;
  }
  .section__collection {
    padding-top: 7rem;
  }
  .section__collection-top-btn {
    width: 10.8rem;
    height: 4.4rem;
    font-weight: 400;
  }
  .section__collection-bottom-box {
    padding: 0;
  }
  .section__collection-bottom-box .img-responsive {
    display: block;
  }
  .section__collection-bottom-box .box-img {
    display: none;
  }
  .section__collection-bottom-box p {
    margin-top: 2rem;
  }
  .subpage .header__container {
    height: 24rem;
  }
  .subpage .header__nav {
    height: 8.2rem;
  }
  .subpage .section__collection {
    padding-top: 6.2rem;
  }
  .collection__page .next-box {
    display: block;
    width: 29.5rem;
    height: 31.5rem;
  }
  .subpage .header__container {
    background-image: url("../assets/img/lessons_about_large.png");
  }
  .section__description {
    padding: 7.5rem 0;
  }
  .section__description-heading {
    margin-bottom: 4.5rem;
    font-size: 4.8rem;
  }
  .collection__item .header__nav {
    height: 8.2rem;
  }
  .section__item {
    padding: 4.8rem 0;
  }
  .section__item h2 {
    font-size: 6rem;
    margin-bottom: 10rem;
  }
  .section__item h3 {
    font-size: 4.8rem;
    margin-bottom: 6rem;
  }
  .section__item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section__item .item-small {
    display: none;
  }
  .section__item .item-large {
    display: block;
    margin-right: 3.5rem;
    width: 62.3rem;
    height: 64.4rem;
  }
}
/*# sourceMappingURL=main.css.map */