//  S U B P A G E S

.blue-background {
  background-color: $light-blue;
}

.darkblue-background {
  background-color: $blue;
}

.subpage {
  .header {
    border-bottom: 1px solid $light-gray;
    &__container {
      position: relative;
      height: 16.2rem;
      background-image: url("../assets/img/lessons_about.png");
    }

    &__nav {
      height: 5.5rem;
      display: flex;
      align-items: center;

      span {
        color: $light-gray;
      }
      .slash {
        padding: 0 1rem;
      }
      &-home {
        text-decoration: underline;
      }
    }
  }

  .section__collection {
    padding-top: 1.8rem;
  }
}

//  A B O U T   P A G E

.section__description {
  padding: 3.9rem 0;
  &-heading {
    margin-bottom: 2.5rem;
    font-size: 2.4rem;
  }
  &-wrapper {
   max-width: 62.3rem;
 }
}

//  C O L L E C T I O N   P A G E

.collection__page {
  .navigation {
    &__container {
      &-logo {
        a {
          color: $pure-white;
        }
      }
    }
  }

  .section__collection {
    &-bottom {
      &-box {
        margin-bottom: 5rem;
      }
    }
  }

  .next-box {
    display: none;
  }
}

//  C O L L E C T I O N   I T E M
.collection__item .header {
  &__nav {
    height: 4.9rem;
    &-current {
      text-decoration: underline;
    }
  }
}

.section__item {
  padding: 2.5rem 0;

  h2 {
    font-size: 3.6rem;
    margin-bottom: 3rem;
  }

  h3 {
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
  }

  &-img {
    margin-bottom: 4.2rem;
    width: 100%;
  }

  &-description {
    max-width: 62.2rem;
  }

  .item-small {
    display: block;
  }

  .item-large {
    display: none;
  }
}
